/* Указываем box sizing */
$font-family1: 'Poppins', sans-serif;

$colorPrimary: #01B2D3;
$colorSecond : #04193FB2;
$colorThird : #FFCC00;
$colorFour : #FE9602;
$colorWhite : #fff;
$colorText: #6B6B6B;
$colorBlack : #111029;
$colorBlackBlue: #04193F;

$colorgreybg : #f9f9f9;

html{
    overflow-x: hidden; 
    scroll-behavior: smooth;
    
    &::-webkit-scrollbar{
        width:15px;
    }

    &::-webkit-scrollbar-track{
        background:rgba($color: #000000, $alpha: 0);
    }

    &::-webkit-scrollbar-thumb{
        background: $colorPrimary;
    }
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

button {
    border: none
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5; 
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}
a {
    color:inherit;
    text-decoration: none;
    font-style: normal;
}
/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


$maxWidth: 1120;
$minWidth:320;
@mixin adaptiv-font($pcSize, $mobSize) {
 $addSize: $pcSize - $mobSize;
 $maxWidth: $maxWidth - 320;
 font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}



@mixin font-teg($minSize, $maxSize, $maxWidth , $teg) {
    $Qfont: ($maxSize - $minSize) / ($maxWidth - $minWidth);
    $Xfont: $minSize - $Qfont * $minWidth ;
    
    @media (min-width:($minWidth + px)) {
        #{$teg}: calc((#{$Qfont} * 100vw) + #{$Xfont + px});
    }
    @media (min-width:($maxWidth + px)) {
        #{$teg}: ($maxSize + px);
    }
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');




body {
    font-family: $font-family1;
    color: $colorBlack;
}


.h2 {
    font-weight: 600;
    letter-spacing: -0.4px;
    @include adaptiv-font( 50,40 );
    @include font-teg( 40,72 ,1120 ,line-height );
}

.h3 {
    font-weight: 600;
    letter-spacing: -0.1px;
    @include font-teg( 40,56 ,1120 ,line-height );
    @include font-teg( 30,42 ,1120 ,font-size );
}

.h5 {
    font-weight: 600;
font-size: 24px;
line-height: 32px;
}

.h6 {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
}


.h6-min {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #FF2D59;
}


.text-second {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
}




.text-primary {
    font-weight: 400;
    // font-size: 18px;
    // line-height: 32px;
    color: $colorText;
    @include font-teg( 25,32 ,1120 ,line-height );
    @include font-teg( 14,18 ,1120 ,font-size );
}


.link::before {
    display: block;
    content: '';
    margin-top: -120px;
    padding-top: 120px;
}


.arrow-btn {
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 50%;

    &::after {
        width: 12px;
        height: 12px;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: '';
        background-image: url('./assets/img/arrow.svg');

    }
}

.wave {
    position: absolute;
            top: 20px;
            width: 100%;
            z-index: -2;
            & img {
                    z-index: -2;
                    width: 100%;
                }

                @media (max-width:500px) {
                    display: none;
                }
}




.container {
    max-width: 1120px;
    padding: 0 15px;
    margin: 0 auto;
}


#id {
height: 0;
width: 0;
opacity: 0;
padding-top: 150px;
}

.btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer !important;
    width: 160px;
    height: 64px;
    font-family: $font-family1;
    color: white;
    background: #01B2D3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    overflow: hidden;
    transition: all 0.3s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: drop-shadow(-15px 10px 30px rgba(1, 178, 211, 0.25));

        & .info {
            display: flex;
            align-items: center;
        }
        &:hover {
            &::before  {
                transform: translate3d(100%,0,0);
            }

            & span {
                color: black;
            }
            &::after {
                color: black;
            }
            & svg path {
                fill: black;
            }
            background-color: $colorWhite;
        }
    
        &::after {
            position: relative;
            color: white;
        }
        & svg {
            position: relative;
            margin-left: 15px;
        }
    & svg path {
        fill: $colorWhite;
    }
    &::before {
        position: absolute;
        top: 0;
        height: 100%;
        content: '';
        background: $colorPrimary;
        width: 120%;
        left: -10%;
        transform: skew(30deg);
        transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);

    }
    & span {
        position: relative; 
    }
}


.header {
    padding: 28px 0;
    position: fixed;
    background: $colorWhite;
    top: 0;
    width: 100%;
    z-index: 49;

    
    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // height: 60px;
    }

    &__logo {}

    &__nav {
        &-btn {
            display: none;
        }
    }

    &__nav-item {
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        color: $colorSecond;
        text-transform: capitalize;
        text-decoration-line: none;
        margin-left: 30px;

        &:hover {
            color: $colorPrimary;
        }
    }

    &__btn {}

    &__checkbox {
        position: absolute;
        display: block;
        height: 32px;
        width: 32px;
        top: 34px;
        right: 17px;
        z-index: 52;
        opacity: 0;
        cursor: pointer;
    }

    &__hamburger-lines {
        display: none;
        height: 26px;
        width: 32px;
        position: absolute;
        top: 37px;
        right: 20px;
        z-index: 51;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .line {
            display: block;
            height: 4px;
            width: 100%;
            margin: 5px 0;
            border-radius: 10px;
            background: #0e2431;
        }

        .line1 {
            transform-origin: 0% 0%;
            transition: transform 0.4s ease-in-out;
        }

        .line2 {
            transition: transform 0.2s ease-in-out;
        }

        .line3 {
            transform-origin: 0% 100%;
            transition: transform 0.4s ease-in-out;
        }
    }

    @media (max-width:1000px) {

        &__hamburger-lines {
            display: block;
        }

        &__btn {
            display: none;
        }

        &__nav {
            position: absolute;
            z-index: 50;
            top: 0;
            left: 0;
            padding-top: 120px;
            background: $colorWhite;
            box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
            height: 100vh;
            width: 100%;
            transform: translate(-150%);
            display: flex;
            flex-direction: column;
            transition: transform 0.5s ease-in-out;
            text-align: center;

            &-btn {
                margin: 0 auto;
                color: $colorWhite;
                display: flex;
                font-size: 20px !important;
                margin-left: auto !important;
                font-weight: 600 !important;
                margin-top: 45px !important;
            }

                & a {
                    margin-left: 0;
                    margin-top: 25px;
                    font-size: 25px;
                }
        }

                & input[type="checkbox"]:checked~.header__nav {
                    transform: translateX(0);
                }
        
                & input[type="checkbox"]:checked~.header__hamburger-lines .line1 {
                    transform: rotate(38deg);
                }
        
                & input[type="checkbox"]:checked~.header__hamburger-lines .line2 {
                    transform: scaleY(0);
                }
        
                & input[type="checkbox"]:checked~.header__hamburger-lines .line3 {
                    transform: rotate(-38deg);
                }

                
    }


    @media (max-width:650px) {
        &__logo {
            width: 150px;
        }
        &__hamburger-lines {
            top: 31px;
        }
        
    }

}





.banner {
    @include font-teg(70,200 ,1120 , margin-top );
      position: relative;  
        & .wave {
            position: absolute;
            top: 20px;
            width: 100%;
            z-index: -6;
                & img {
                    width: 100%;
                }
        }
        &::before {
            margin-top: -150px;
            padding-top: 150px;
        }

    &__box {
        padding-top: 45px;
    }

    &__img-box {
        position: relative;
        display: flex;
        justify-content: flex-end;
        max-width: 1300px;
        height: fit-content;
        margin: 0 auto;

    }

    &__info {
        display: flex;
        flex-direction: column;
    }

    &__title {
        & span {
            color: $colorThird
        }
    }

    &__subtitle {
        margin: 24px 0;
        max-width: 365px;
    }


    &__btn {
         
    

        
    }


    


    &__img {
        position: absolute;
        top: -74px;
        right: 0;
        z-index: -1;
        height: 531px;
        width: 750px;
            & img {
                width: 100%;
                height: 100%;
            }
    }

    @media (max-width:1030px) {
        &__box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }
        
        &__img {
            &-box {
                position: inherit;
            }
            position: inherit;
            width: 100%;
            // height: 100%;
            order: 1;
            position: initial;
                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
        }

        &__info {
            margin-top: 25px;
            order: 2;
            width: 100%;
        }
    }


    @media(max-width:600px) {
        &__img {
            height: fit-content;
        }
    }
}


.items-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;

    @media (max-width:1000px) {
            grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width:660px) {
            grid-template-columns: repeat(1, 1fr);
    }
}

.our {
    
    @include font-teg(80,200 ,1120 , margin-top );
    position: relative;

    &__box {}

    & .wave {
        top: 500px;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 32px;

    }

    &__item {
        background: $colorWhite;
        transition: all 0.3s;
        padding: 44px 30px;
        box-shadow: -10px 30px 70px rgba(219, 222, 225, 0.4);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &:hover {
            background: $colorPrimary;
            color: $colorWhite;
            box-shadow: -10px 30px 70px rgba(1, 178, 211, 0.5);

            & .our__item-text {
                color: $colorWhite;
            }
        }
        &-title {
            text-align: center;

        }
    }

    &__title {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 60px;
    }

    &__item-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        width: 97px;
        height: 97px;
        border-radius: 50%;
        filter: drop-shadow(0px 15px 30px rgba(4, 25, 63, 0.6));

        &-1 {background-color: #4C40F7;}

        &-2 {background: #FF2D59;}
        &-3 {background: #4ADB61;}
        &-4 {background: $colorThird;}
        &-5 {background: #007BFF;}
        &-6 {background: #FF6800;}
    }

    &__item-title {
        margin: 44px 0 16px 0;
        transition: all 0s;
    }

    &__item-text {
        text-align: center;
        margin-bottom: 44px;
    }

    &__item-arrow {}



    @media (max-width:1000px) {
        &__items {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (max-width:660px) {
        &__items {
            grid-template-columns: repeat(1, 1fr);
        }
    }

}


// О НАС
.doc {
    
    background-image: url('./assets/img/about-bg-min.png');
    background-repeat: no-repeat;
    background-position: center 00px;
    background-size: cover;
    @include font-teg(40,200 ,1120 , margin-top );
    @include font-teg(40,200 ,1120 , padding-bottom );

    

    &__box {}

    &__mintitle {
        text-align: center;
    }

    &__title {
        text-align: center;

    }

    &__video {
        margin-top: 60px;
        width: 100%;
        border-radius: 30px;
            & img {
                width: auto;
                height: auto;
            }
    }
}



.customer {
    @include font-teg(25,200 ,1120 , margin-top );

    &__box {
        display: flex;
    }

    &__cards {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;

        // width: 100%;
        // float: right;
        // display: flex;
        // flex-wrap: wrap;
        &-1 {
            margin-top: 25px;
            display: flex;
            margin-right: 40px;
        }
        
        &-2 {
            display: flex;

        }
    }

    &__card {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 270px;
        height: 300px;
        background: #FFFFFF;
        box-shadow: 0px 25px 100px rgba(76, 64, 247, 0.08);
        border-radius: 20px;
        padding: 10px;
        margin: 20px 0;

        &-3 {
            margin-top: -22px;
            margin-left: 40px;
        }

        &-4 {
            margin-top: -22px;
            margin-left: 40px;
        }

        &-title {
            &-1 {
                color: $colorPrimary;
                font-size: 22px;
            }
            &-2{color:#FF6800;}
            &-3{color: #FF2D59;}
            &-4{color: #4ADB61;}
        }

        &-text {}

        &-1 {}
    }

    &__info {
        flex: 0 1 41%;
        margin-left: 15px;

        &-title {}

        &-text {
            margin: 35px 0;
        }

        &-items {}

        &-item {
            display: flex;
            align-items: center;
            margin: 10px 0;
            &::before {
                content: '';
                display: block;
                width: 24px;
                height: 24px;
                padding: 15px 47px 9px 0;
                background: url('./assets/img/mark.svg');
                background-repeat: no-repeat;
            }
        }
    }


    @media (max-width:1100px) {
        &__card {
            height: 200px;
        }
        &__box {
            flex-direction: column;
        }

        &__cards {
            order: 2;
            margin: 0 auto;
        }

        &__info {
            order: 1;
            margin: 0 auto;
        }
    }

    @media (max-width:610px) {
        
        &__cards {
            width: 100%;
            order: 2;
            margin: 0 auto;
            flex-direction: column;

            &-1 {
                margin: 0;
                flex-direction: column;
            }

            &-2 {
                flex-direction: column;
                margin: 0;
                // flex-direction: column;

            }
        }

        &__card {
            margin-left: 0;
            margin-top: 0;
        }

        &__card {
            width: 100%;
            margin: 15px 0;

        }

    }
}



// OUR TEAM
.team {
    position: relative;

    @include font-teg(30,200 ,1120 , margin-top );
    @include font-teg(30,200 ,1120 , margin-bottom );
    
    text-align: center;

    &__title {
        margin-bottom: 50px;
    }

   &__card {
    padding-bottom: 21px;
    background: #FFFFFF;
    box-shadow: -10px 30px 70px rgba(219, 222, 225, 0.4);
    border-radius: 20px;
    &-img {
        background-color: #FE9602;
        height: 372px;
        border-radius: 20px;
        &1 {
            background-color: #FE9602;
        }
        &2 {
            background-color: #4C40F7;
        }
        &3 {
            background-color: #FFCC00;
        }
        &4 {
            background-color: #FF2E59;
        }
        &5 {
            background-color: #4ADB61;
        }
        &6 {
            background-color: #007BFF;
        }
        
    
            & img {
                width: 100%;
                height: 100%;
                border-radius: 20px;
                object-fit: cover;
            }

    }
    

    &-info {
        margin-top: 20px;
    }
    &-name {

    }
    &-job {}
   }

}



// OUr WORk
.work {
    @include font-teg(40,200 ,1120 , margin-top );
    @include font-teg(20,100 ,1120 , margin-bottom );
    &__grid {}
    &__title {
        text-align: center;
        margin-bottom: 50px;
    }
    &__item {
        border-radius: 30px;
        @include font-teg(5,30 ,1120 , padding-left );
        @include font-teg(5,30 ,1120 , padding-right );
        height: 390px;
        background-color: #007BFF;
        display: flex;
        justify-content: space-between;
        align-items: center;

    &-1 {
        background-color: #FF2E59;
    }
    &-2 {
        margin-top: 40px;
        background-color: #FE9602;
    }

    &-info {
        margin-right: 30px;
    }

        &-title {
            font-weight: 600;
            font-size: 24px;
            line-height: 36px;
            color: #FFFFFF;
            order: 0;
            flex-grow: 0;
        }

        &-text {
            @include font-teg(10,30 , 1120 ,margin-top );
            font-size: 18px;
            line-height: 30px;
            color: #FFFFFF;
        }
        hr {
            // margin-top: 30px;
            @include font-teg(10,30 , 1120 ,margin-top );
            width: 157px;
            height: 0px;
            border: 1px solid #FFFFFF;
            margin-left: 0;
        }
        &:hover {
            & img {
                top: 50px;
            }
        }

        &-img {
            filter: drop-shadow(-9px -9px 30px rgba(0, 0, 0, 0.25));
            overflow: hidden;
            position: relative;
            transition: all 0.3s ;
            height: 100%;
            width: 701px;
            & img {
                transition: all 1s ;
                top: 200px;
                width: 701px;
                height: 100%;
                display: block;
                position: absolute;
            }
        }
    }


    @media (max-width:950px) {
        
        &__item {
            &-img  {
                display: flex;
                align-items: flex-end;
                & img {
                    position: initial;
                    height: 70%;
                }
            }
        }
    }
    @media (max-width:660px) {
        & hr {
            margin:0 auto;
            margin-top: 5px;
        }
        &__item {
            height: fit-content;
            padding: 0;
            flex-direction: column;
            &-info {
                padding: 10px 0;
                text-align: center;
                margin-right: 0;
                width: 100%;
            }
            &-img  {
                margin-top: 15px;
                width: 100%;
                & img {
                    position: initial;
                    // height: 100%;
                    height: auto;
                    width: 80%;
                    margin: 0 auto;
                }
            }
        }
    }

    

}




.client {
    // margin: 40px 0;
    // margin: 320px 0;
    @include font-teg(70,180 ,1120 , margin-top );
    @include font-teg(50,320 ,1120 , margin-bottom );
    &__box {
        text-align: center;
    }
    &__title {
            margin-bottom: 70px;

    }
    &__grid {
        display: flex;
        justify-content: center;
    }
    &__item {
        margin: 0 15px;
    }
}




/*!
* chiefSlider
*   site: https://itchief.ru/javascript/slider
*   github: https://github.com/itchief/ui-components
*
* Copyright 2018-2021 Alexander Maltsev
* Licensed under MIT (https://github.com/itchief/ui-components/blob/master/LICENSE)
*/.slider{position:relative}.slider__container{overflow:hidden}.slider__items{display:flex;transition:transform .5s ease}.slider_disable-transition{transition:none}.slider__item{flex:0 0 100%;max-width:100%;user-select:none}.slider__control{position:absolute;top:50%;display:flex;justify-content:center;align-items:center;width:40px;height:50px;color:#fff;text-align:center;background:rgb(0 0 0 / 20%);border:none;transform:translateY(-50%);cursor:pointer}.slider__control_hide{display:none}.slider__control[data-slide=prev]{left:0}.slider__control[data-slide=next]{right:0}.slider__control:focus,.slider__control:hover{color:#fff;text-decoration:none;background:rgb(0 0 0 / 30%);outline:0}.slider__control::before{content:"";display:inline-block;width:20px;height:20px;background:transparent no-repeat center center;background-size:100% 100%}.slider__control[data-slide=prev]::before{background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")}.slider__control[data-slide=next]::before{background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")}.slider__indicators{position:absolute;right:0;bottom:0;left:0;z-index:15;display:flex;justify-content:center;margin-top:0;margin-right:15%;margin-bottom:0;margin-left:15%;padding-left:0;list-style:none}.slider__indicators li{flex:0 1 auto;box-sizing:content-box;width:30px;height:5px;margin-right:3px;margin-left:3px;text-indent:-999px;background-color:rgb(255 255 255 / 50%);background-clip:padding-box;border-top:15px solid transparent;border-bottom:15px solid transparent;cursor:pointer}.slider__indicators li.active{background-color:rgb(255 255 255 / 90%)}


.slider {
    &__control {
        // position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;height: 45px;
        border-radius: 50%;
        background: $colorWhite;
            &:hover {
                background: $colorThird;
                & svg path {
                    fill: $colorWhite;
                }
            }
            &[data-slide="prev"] svg {
                transform: rotate(-180deg);
            }
            &::before {
                position: absolute;
                width: 45px;height: 45px;
                opacity: 0;
                display: block;
            }
        
    }
}


// SLIDER
.feedback {
    &__bg {
        background-color: $colorPrimary;

    }
    // slider option
    & { 
        .slider__container {
            padding-left: 0;
            padding-right: 0;
          }
      
          .slider__items {
            counter-reset: slide;
          }
      
          .slider__item {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
            counter-increment: slide;
            height: 250px;
            position: relative;
          }
      
          
      
          
    } 


    // slider style
    & .slider {
        padding-top: 50px;
        padding-bottom: 100px;
        

        &__item {
            // width: 723px;
            padding: 0 190px;
            text-align: center;
            height: auto;
            color: $colorWhite ;
            &-logo{
                display: flex;
                justify-content: center;
            }
            &-text{
                color: inherit;
                margin: 44px 0;
            }
            &-author{
                margin-bottom: 10px;
            }
            &-job{}
        }
        
        &__indicators {
            bottom: 50px;
            & li {
                background-color: $colorThird;
            }
            & li.active {
                background-color: #fff;
            }
        }

        
    }


    @media(max-width:1000px) {
        & .slider {
            &__item {
                padding: 0 75px;
            }
        }
    }
}



// accordion
.question {
    display: flex;
    justify-content: center;
    align-content: center;
    @include font-teg(70,200 ,1120 , padding-top );
    @include font-teg(50,50 ,1120 , padding-bottom );
    
    background: url('./assets/img/question-bg-min.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // @include font-teg(700,1236 ,1120 , height );

    @media (min-width:1100px) {
        min-height: 1236px;
        height: 100%;
        & .container {
            display: flex;
            justify-content: center;
            flex-direction: column;
            height: 100%;
        }
    }

    &__title {
        text-align: center;
        margin-bottom: 50px;
        margin-top: 25px;
        
    }
    & .accordion {
        position: relative;
        background-color: $colorWhite;
        border: 2px solid $colorPrimary;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
        border-radius: 8px;
        // margin: 16px 0;
        &.h3 {
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            color: #04193F;
        }
        padding: 25px 50px 25px 32px;
            &.active {
                background: $colorWhite;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
                &  ~ .panel:first-child {
                    padding: 20px 18px;
                }
            }
      }
      
      .active, .accordion:hover {
      }
      
      .accordion:after {
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translate(0, -50%);
        display: block;
        content: "";
        background: url('./assets/img/Arrow1.svg');
        width: 24px;
        height: 24px;
        color: #777;
        font-weight: bold;
        float: right;
        margin-left: 5px;
      }
      
      .active:after {
        margin-top: -12px;
        content: "";
        transform: rotate(-180deg);
      }
      
      .panel {
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        transition: all 0.2s ease-out;
        margin-bottom: 32px;
        background: $colorWhite;
        border-bottom-right-radius: 8px;
                border-bottom-left-radius: 8px;
      }
}




// feedbak and THANK
.thank {
    background: $colorgreybg;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 40px;

    &__title {
        margin-bottom: 60px;
        &__min {

        }
    }



    .slider__wrapper {
        overflow: hidden;
    }
    .slider__items {
        padding-bottom: 17px;
        justify-content: space-between;
      }
      .slider__item {
        flex: 0 0 33.33333% ;
        max-width:33.33333% ;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba(255,255,255, 0.8);
      }

    &__items {
        // padding-bottom: 25px;
    }
    &__item {
        height: 100%;
        margin: 0 10px;
        padding-top: 59px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        &-img {
             position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50% , 0);
            filter: drop-shadow(0px 20px 30px rgba(1, 178, 211, 0.2));
          
            img{
                width: 120px;
                height: 120px;
                border-radius: 50%;
                object-fit: cover; 
            }

        }
        &-info{
            display: flex;
            flex-direction: column;
            padding: 90px 32px 44px;
            background: #FFFFFF;
            border-radius: 20px;

            &-star {
                height: fit-content;
            }
        }
        &-name{
            margin-bottom: 8px;
            color: black;
        }
        &-job{
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #ABAFC7;
        }
        &-text{
            margin: 24px 0;
        }
        &-star{
            display: flex;
            justify-content: center;
                & img {
                    margin:  0 5px;
                }
        }
    }

    & .slider__control {
        background-color: $colorPrimary;
        & svg path {
            fill: $colorWhite;
        }
        &:hover {
            background-color: $colorThird;
        }
    }


    @media (max-width:850px) {
        .slider__item {
            flex: 0 0 50% ;
        max-width:50% ;
        }
    }
    @media (max-width:500px) {
        .slider__item {
            flex: 0 0 100%;
            max-width:100% ;
        }
    }
}





// FOOTER
.footer {
    background: colorgreybg;
    position: relative;
    color: $colorWhite;

    @media (min-width:1300px) {
        overflow: hidden;
    }

    &__bg {
        padding-bottom: 60px;
        padding-top: 250px;
        background: $colorBlackBlue;

    }
    &__box {
        display: flex;
        justify-content: space-between;
    }
    &__logo{
        margin-bottom: 32px;
    }
    &__title{
        margin-bottom: 32px;
    }
    &__info {
        flex: 0 1 35%;
    }
    &__map {
        flex: 0 1 35%;
            & iframe {
                border-radius: 30px;
            }
        
    }
    &__contact {
        flex: 0 1 20%;
    }

    &__email {
        display: block;
        margin: 20px 0;
    }
    & address {
        & a:hover {
            color: $colorPrimary;
        }
    }


    &__line {
        width: 100%;
        height: 1px;
        background: $colorWhite;
        margin: 40px 0;
    }
    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        & a {
            color: inherit;
            font-size: 16px;
        }

        &-media {
            display: flex;
            align-items: center;
        }
        &-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin: 0 5px;
            background-color: $colorPrimary;
        }
    }




    // FORM
    &__top {
        
        height: 325px;
            @media (max-width:500px) {
                background: none;
            }
    }

    &__congratulations {
        text-align: center;
        display: none;
    }

    &__form {
        position: absolute;
        width: 100%;
        top: 166px;
        left: 50%;
        transform: translate(-50% ,0);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: $colorThird;
        border-radius: 20px;
        padding: 80px 15px 100px 15px;
        &-title{
            text-align: center;
            margin-bottom: 30px;
        }

        &.active {
            & input , button  {
                display: none;
            }

            & .footer__congratulations {
                display: block;
            }
        }

        &-input{
            padding: 0 15px;
            position: relative;
            max-width: 500px;
            width: 100%;
            & input {
                display: block;
                width: 100%;
                padding: 20px 28px;
                box-shadow: 0px 8px 50px rgba(5, 24, 64, 0.5);
                border-radius: 11px;
                border:none;

            }
            & button {
                cursor: pointer;
                position: absolute;
                right: 0;top: 0;
                width: 72px;height: 65px;
                // background: red;
                background: url('./assets/img/submitBtn.svg');
                background-repeat: no-repeat;
                background-position: center;
                z-index: 5;
                // transform: translate(0 ,-50%);
            }
        }
    }





    @media (max-width:922px) {
        & {
            margin-top: 100px;
        }
        &__form {
            top: -120px;
        }
        &__top {
            background: none;
            height: fit-content;
        }
        &__bg {
            // margin-top: 300px;
        }
        &__box {
            flex-direction: column;
        }

        &__map {
            margin: 30px 0;
        }

        &__menu {
            flex-direction: column;
            justify-content: center;
                & nav {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    margin: 10px 0;
                }
                & a {
                    margin:  0 10px;
                }
        }
    }




    



}